@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;

}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-semibold";
  src: url("./font/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-medium";
  src: url("./font/Gilroy-Medium.ttf") format("truetype");
}

body,
html {
  --ff-lato: "Lato", sans-serif;
  --ff-lancelot: "Lancelot", cursive;
  --ff-gilroy: "Gilroy", sans-serif;
  --fw-wght: 300;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.navbar {
  margin-top: 1.9605rem;
  border-top: 2px solid #3c3c3c;
  border-bottom: 2px solid #3c3c3c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.nav-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-header {
  position: relative;
}

.nav-header::before,
.nav-header::after {
  content: "";
  position: absolute;
  right: 357px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #3c3c3c;
}

.nav-header::after {
  left: 357px;
}

.nav-header > h4 {
  margin: 0;
  margin-bottom: 10px;
  font-family: var(--ff-lato);
  font-style: normal;
  font-weight: var(--fw-wght);
  font-size: 1.25rem;
  line-height: 24px;
  color: #3c3c3c;
}

.story-header {
  margin: -10px 0;
  font-family: "Gilroy-semibold";
  font-style: normal;
  font-weight: 400;
  font-size: 3.375rem;
  line-height: 86px;
  color: #3c3c3c;
  text-transform: uppercase;
}

.header {
  width: 100%;
  border-left: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  /* margin: 0 27px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.popular > h1 {
  font-family: var(--ff-lato);
  font-weight: var(--fw-wght);
  font-size: 0.875rem;
  line-height: 17px;
  margin: 4px 0;
}

.list-items {
  margin: 0;
  margin-top: 5px;
  margin-right: 40px;
  display: flex;
  gap: 5px;
  align-items: center;
  list-style-type: none;
}

.list-items > li {
  cursor: pointer;
  font-family: var(--ff-lato);
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 13px;
  text-transform: uppercase;
  color: #3c3c3c;
  padding: 9.64264px 16px;
  background: #ffffff;
  border: 1.92853px solid #6b5023;
  width: max-content;
}

.story-section {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding: 0 24px;
  margin-bottom: 200px;
}

.section-1-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -65px;
  margin-bottom: -25px;
  /* width: 100%; */
}

.pen {
  cursor: pointer;
  display: none;
}

.section-1,
.section-1-content,
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* width: 100%; */
  margin-right: 4%;
  margin-left: 0;
  margin-top: 3%;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 30%;
}

.section-1-head > h1,
.section-2-head > h1 {
  width: 428px;
  margin-top: 29px;
  font-family: var(--ff-lancelot);
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 2.8rem;
  color: #000000;
  display: inline;
}

.section-2-head > h1 {
  margin-top: -1%;
}

.section-1-head > h1::after,
.section-2-head > h1::after {
  content: "";
  height: 1.6px;
  background-color: #6b5027;
  width: 304px;
  display: block;
  margin: 0 auto;
  margin-top: -6px;
}



.section-2-head > h1::after {
  margin-right: 12rem;
  width: 200px;
  height: 1.6px;
}



.section-1-head > h1::after {
  width: 350px;
  margin-right: 10px;
  margin-top: 5px !important;
}

.subject,
.description,
.selectCategory,
.choose {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


label>h3{
  margin: 0;
  font-size: 1.3rem;
  line-height: 20px;
  font-family: var(--ff-gilroy);
}

.subject > input,
textarea,
.choose > input {
  font-family: var(--ff-gilroy);
  margin-top: 10px;
  margin-bottom: 25px;
  width: 422px;
  background: hwb(0 98% 1%);
  border: 1.5px solid #000000;
  border-radius: 2px;
  outline: none;
  padding: 14px 16px;

  font-size: 1.25em;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.75);
}



.choose > input {
  text-transform: inherit;
  padding-right: 50px !important;
  width: 380px;
  height: 45px;
}

.choose {
  margin-top: 10px;
}

textarea {
  height: 108px;
  padding: 12px 15px;
  resize: none;
}

.select-btn {
  cursor: pointer;
  padding: 12px 16px;
  width: 422px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-btn > span {
  font-family: var(--ff-gilroy);
  font-size: 1.25rem;
  line-height: 24px;
  color: #000000;
  font-weight: 600;
}

.down {
  font-size: 1.5rem;
}

/* .content {
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.08);
  border-radius: 2px;
  margin-top: 10px;
  width: 422px;
  padding: 16px;
  height: 175px;
} */

.content {
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.08);
  border-radius: 2px;
  margin-top: 10px;
  width: 322px;
  padding: 16px;
  height: 270px !important;
  position: absolute;
  left: 28%;
top: 430px;
  z-index: 999;
}


.down {
font-size: 1.5rem;
transform: rotate(270deg);
}

.search {
  position: relative;
}

.search-btn {
  position: absolute;
  left: 18px;
  top: 12px;
  font-size: 1.7rem;
}

.search > input {
  text-transform: uppercase;
  padding: 12px 16px;
  padding-left: 55px;
  width: auto;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  outline: none;
  color: #121212;

  font-family: var(--ff-gilroy);
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
}

.search-list {
  margin-top: 24px;
  margin-bottom: 0;
  padding: 0px;
  list-style-type: none;
  width: 368px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 2px;
  gap: 10px;
  max-height: 150px;
  overflow-y: auto;
}

.search-list::-webkit-scrollbar {
  width: 5px;
}

.search-list > li {
  text-transform: uppercase;
  font-family: var(--ff-gilroy);
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: #000000;
  cursor: pointer;
  width: auto;
  height: 30px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  padding: 0 15px;
}

.search-list > li:hover,
.search-list > li:focus {
  background-color: #d6d6d6;
}

.submit-btn {
  cursor: pointer;
  margin-top: 56px;
  padding: 12.5px;
  width: 214px;
  height: 50px;
  background: #6b5023;
  outline: none;
  border: none;
  margin-top: 25px;
  margin-left: 0;

  font-family: var(--ff-lato);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 22px;
  text-align: center;
  color: #fffefb;
  align-self: flex-end;
}

.middle-line {
  margin-top: 10px;
  width: 0px;
  height: 100vh;
  border: 1px solid #000000;
  margin-left: -230px;
}

@media screen and (max-width: 1450px) {
  .middle-line {
    margin-top: 10px;
    width: 0px;
    height: 100vh;
    border: 1px solid #000000;
    margin-left: -0;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-2-head {
  border-bottom: 1px solid hsl(0, 15%, 95%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn-2 {
  cursor: pointer;
  font-size: 2rem;
  align-self: flex-end;
  margin-top: -4.2rem;
  margin-right: 0.5rem;
}

.container {
  width: 100%;
}

.share-btn {
  cursor: pointer;
}

.star-icon {
 cursor: pointer;
}

.item-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid #a79b9bba;
}

.item-section::after {
  content: "";
  width: 100%;
  padding-top: 1rem;
  
}

.item-section-main {
  height: 100vh;
}

.item-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto !important;
  overscroll-behavior-inline: contain;
  height: 425px;
}

.item-section-container::after {
  content: "";
  width: 100%;
  border-bottom: 2px solid black;
  margin-bottom: 100px;
}

.item-category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-category > h3,
.item-category > p {
  padding: 10px;
  width: max-content;
  background: #ffffff;
  border: 1px solid #000000;

  font-family: var(--ff-lato);
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 14px;
  color: #000000;
}

.item-category > p {
  font-weight: 500;
  background: #6b5023;
  color: #ffffff;
}

.item-section > h2 {
  margin: 0;
  width: 850px;
  font-family: var(--ff-lancelot);
  font-weight: 400;
  font-size: 3.8125rem;
  line-height: 65px;
  color: #000000;
  margin-bottom: 10px;
}

.item-section > p,
.show-para > p,
.read-more {
  margin: 0;
  width: 857px;
  font-family: var(--ff-lato);
  font-weight: var(--fw-wght);
  font-size: 1.25rem;
  line-height: 28px;
  color: #3c3c3c;
}

.read-more {
  cursor: pointer;
  width: max-content;
}

.looking {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -1.4%;
  line-height: 5rem;
}

.section-2 {
  position: relative;
}

.search-list-2 {
  position: absolute;
  top: 4rem;
  padding: 16px;
  background: #ffffff;
  gap: 24px;
  border: 1px solid #000000;
  box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.08);
  border-radius: 2px;
  width: 380px;
  max-height: 200px;
}

.filter {
  margin-top: -10px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.total-story,
.filter-heading {
  font-family: var(--ff-gilroy);
  font-size: 1.25rem;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 500;
}

.flex-filter {
  display: flex;
  align-items: center;
}
.total-story > span {
  font-family: "Gilroy-semibold";
}

.filter-heading > span {
  margin-left: 5px;
  cursor: pointer;
  font-family: "Gilroy-medium";
  border-bottom: 1px solid #000000;
}

.filterarrow {
  cursor: pointer;
  font-size: 1.5rem;
}

.show-para {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
}



.show-para > p {
  max-height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 15px;
}

.read-more {
  font-weight: 700;
}

.section-1 {
  justify-content: flex-start;
  width: 39%;
  margin-right: 0;
}



.swiper-container {
  
  width: 415px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  left: -20px;
  padding: 10px;
  height: 350px;
}

.swiper-wrapper{
  /* left: -10%; */
}



@media screen and (max-width: 1024px) {
  .list-items {
    width: 100%;
    padding: 0 20px;
    justify-content: center;
  }

  .list-items > li {
    padding: 5px 3px;
  }

  .section-2-head > h1 {
    /* margin-top: 0; */
    width: 300px;
    /* font-size: 3rem; */
    margin-top: 0px !important;
  }

  .container-fluid {
    margin-top: -10px;
  }
  .section-1, .section-1-content, .section-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* width: 100%; */
    margin-right: 4%;
    margin-left: 0;
    margin-top: 1%;
}

.subject, .description, .selectCategory, .choose {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -10px;
}

.section-1-head{
  z-index: -1;
}

  .section-1-head > h1 {
    /* margin-top: 0; */
    width: 300px;
    font-size: 2.3rem;
    margin-top: 51px;
  }

  .section-2-head > h1 {
    /* margin-top: 0; */
    width: 360px;
    font-size: 2rem;
    margin-top: 15px !important;
    line-height: 2.2rem;
}

  .section-1-head > h1::after,
  .section-2-head > h1::after {
    width: 130px !important;
    margin-right: 20rem !important;
    margin-top: -7px !important;
    justify-content: center;
  }

  .section-2-head > h1::after {
    width: 130px !important;
    margin-right: 15rem !important;
  }

  

  label > h3 {
    font-size: 1rem !important;
    width: 100%;
    margin-top: 20px;
    line-height: 15px;
    /* margin-left: -20px; */
}

  .subject > input,
  textarea {
    margin-top: 5px !important;
    width: 300px !important;
  }

  .select-btn,
  .selectCategory,
  .content,
  .search {
    width: 300px !important;
  }

  .search > input {
    width: 300px !important;
  }


  .submit-btn {
    cursor: pointer;
    padding: 12.5px;
    width: 214px;
    height: 40px;
    background: #6b5023;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-left: 0;
  }

  .search > input {
    width: 270px !important;
  }

  .choose > input {
    width: 250px;
    font-size: 1rem;
    padding: 10px;
  }

  .choose > label {
    margin-bottom: -5px;
  }

  .choose {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
    /* margin-right: -80% !important; */
}

  .filter {
    width: 555px;
  }

  .item-section {
    width: 600px;
  }

  .item-section::after {
    width: 580px;
  }

  /* .content {
    height: 220px;
  } */

  .content {
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.08);
    border-radius: 2px;
    margin-top: 10px;
    width: 422px;
    padding: 16px;
    height: 210px !important;
    position: absolute;
    left: 350px;
    top: 400px;
    z-index: 999;
}

.down {
  font-size: 1.5rem;
  transform: rotate(270deg);
}

  .search-list {
    max-height: 120px;
  }
 

  .search-list-2 {
    max-height: 150px;
    z-index: 9999;
    padding: 5px;
    width: 250px;
    gap: 16px;
    top: 6rem;
}

  .item-section > h2 {
    line-height: 40px;
    width: 600px;
    font-size: 2.5rem;
  }

  .show-para > p {
    width: 580px;
    font-size: 1.125rem;
    line-height: 25px;
  }

  .item-section-container {
    height: 450px;
  }
  .middle-line {
    margin-top: 10px;
    width: 0px;
    height: 100vh;
    border: 1px solid #000000;
    margin-left: -10px;
  }

  .flex-filter {
    display: flex;
    align-items: center;
    margin-left: -60px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 370px) and (max-width: 438px) {
  .popup-card {
    background-color: white;
    padding: 4px;
    padding-top: 0px;
    /* padding-top: 20px;
    padding-bottom: 25px; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    padding-inline: 40px;
    flex-direction: column;
    width: 90%;
    height: 100px;
  }

  .pop-head{
    font-size: 1rem !important;
   
}
  
  .copy-btn {
    /* position: absolute;
    top: 77px; */
    background-color: transparent;
    border: none;
    margin-left: 5px;
    margin-top: 2px;
    font-size: 0.8rem !important;
  }
  
  
  
  .popup-link {
    margin-top: 5px;
   width: 120%;
    margin-bottom: 20px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
  }

 
  
  .popup-link > a {
    text-decoration: none;
    color: black;
    /* margin-left: 35px !important; */
    font-size: 0.7rem !important;
}

  .item-section-container::after {
    margin-bottom: 0 !important;
  }

  .filter {
    margin-top: -20% !important;
}
  body {
    overflow-y: auto;
  }
  .story-header {
    margin-top: 7px;
    font-size: 1.625rem;
    line-height: 30px;
  }

  .navbar {
    margin-top: 1.96005rem;
  }

  .nav-header > h4 {
    text-transform: lowercase;
    margin: 9px 0;
    font-family: var(--ff-gilroy);
    font-size: 0.75rem;
    line-height: 14px;
  }

  .nav-header::before {
    right: 150px;
  }
  .nav-header::after {
    left: 150px;
  }

  .popular > h1 {
    font-size: 0.825rem;
    line-height: 12px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bold;
  }

  .list {
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    width: 100%;
    padding: 0 5px;
  }

  .list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .list-items {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
  }

  .list-items > li {
    padding: 6.06707px 12.1341px;
    white-space: nowrap;
    margin: 0;
    font-size: 0.418rem;
    line-height: 8px;
  }

  .story-section {
    flex-direction: column;
  }

  .section-1 {
    position: relative;
    margin-left: 10%;
    margin-top: 8%;
  }

  .section-1-head {
    gap: 0rem;
    justify-content: space-around;
    width: 220px;
    display: inline-flex;
    position: relative;
    margin-top: 0px;
    margin-right: -50px;
    left: 30%;
    padding-right: 0%;
    z-index: 1;
  }

  .section-1::before {
    margin-top: 10px;
    align-self: self-start;
    position: relative;
    content: "";
    left: 10px;
    top: 40px;
    width: 150%;
    height: 1px;
    background-color: #000000;
  }

  .section-1-head > h1 {
    position: relative;
    font-size: 1.575rem;
    font-weight: normal;
    line-height: 0px;
    margin: 0;
    margin-top: 30px;
    width: 150%;
  }

  

  .section-2-head > h1 {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 25px;
    margin: 0;
    margin-top: 30px;
    left: -15px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

  .section-1-head > h1::after,
  .section-2-head > h1::after {
    position: absolute;
    margin-top: -4px;
    right: 90px;
    width: 116px;
  }

 

  .pen {
    display: flex;
    font-size: 1.6rem;
    margin-right: -10%;
}

.container-fluid{
  margin: 0 !important;
}

.looking {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  left: 50%;
  width: auto;
  height: auto;
  font-size: 0.3rem;
  top: -15% !important;
  margin-top: 5%;
}
  .section-1-content {
    padding: 0 1rem;
    width: 50%;
    margin-top: 30px;
    padding-left: 0;
    margin-left: -10px;
  }

  label > h3 {
    font-size: 0.875rem;
    line-height: 16px;
  }

  .subject > input,
  textarea {
    margin-bottom: 20px;
    line-height: 14px;
    padding: 0 10px;
    width: 300px !important;
    height: 30px;
    font-size: 0.75rem;
  }

  .subject {
    margin-top: 24px;
  }

  textarea {
    padding-top: 5px;
    height: 65px;
  }

  .select-btn,
  .content {
    width: 300px;
  }

  .content {
    padding: 10px;
    padding-bottom: 0;
    z-index: 99999;
    left: -7%;
    top: 90%;
  }

  .select-btn {
    height: 33.1px;
    padding: 7px 9px;
  }
  .down {
    font-size: 1rem;
    transform: rotate(0deg);
  }

  .select-btn > span {
    font-size: 0.75rem;
  }

  .select-btn,
  .selectCategory,
  .content,
  .search {
    width: 300px !important;
  }

  .search > input {
    padding: 5px;
    padding-left: 40px;
    width: 280px !important;
  }

  .search-btn {
    left: 8px;
    top: 6.5px;
    font-size: 1.4rem;
  }

  .search-list {
    margin-top: 15px;
    gap: 12px;
    width: 260px;
  }

  .description{
    margin-top: -30px;
  }

  .search-list-2 {
    /* margin-top: -18%; */
    width: 200px;
    gap: 2px;
    /* margin-left: 20%; */
    height: 100px;
    margin-top: -70%;
    margin-left: -15%;
}

  .search-list > li {
    font-size: 0.75rem;
  }

  /* .section-1-content {
    width: 332px;
  } */

  .submit-btn {
    margin-top: 20px;
    margin-bottom: -15px;
    width: 140px;
    padding: 7.35981px;
    font-size: 0.6875rem;
    line-height: 13px;
    height: 29.44px;
    margin-right: 160px;
  }

  .middle-line {
    margin-top: 1.8rem;
    align-self: center;
    height: 1.2px;
    width: 110vw;
    background-color: #000000;
    border: none;
    margin-bottom: 10px;
  }

  .section-2-head {
    border: none;
    flex-direction: column;
  }



  .section-2-head > h1 {
    margin-top: 20% !important;
    /* display: inline-flex; */
    padding-left: -0% !important;
}

  .section-2-head > h1> span{
    display: inline;
    position: absolute;
    left: 100%;
    width: 200px;
  }
  
  .section-2-head > h1 > div{
    height: 1.1px !important;
    width: 145% !important;
    background: rgb(107, 80, 39);
    margin-bottom: 5px;
  }
  

  .section-1-head > h1 {
    margin-top: 0 !important;
    /* display: inline-flex; */
    padding-left: -0% !important;
  }

  .section-1::before {
    margin-top: 10px;
    align-self: self-start;
    position: relative;
    content: "";
    left: 10px;
    top: 25px;
    width: 150%;
    height: 1px;
    background-color: #000000;
}


  .section-2-head > h1::after {
    right: 10px !important;
    top: 32px;
    height: 1px !important;
    width: 120px !important;
}

  .choose > label > h3 {
    font-size: 0.9rem !important;
    line-height: 15px;
    margin-left: 15px;
    margin-bottom: -10px;
  }

  .choose {
    margin-top: 0;
    /* margin-right: -35px !important; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    right: 10%;
    /* top: -10% !important; */
    margin-top: -110px;
}

.choose > input {
  margin-bottom: 0;
  position: relative;
  border: 0.7891px solid #000000;
  border-radius: 1.05213px;
  padding: 4.20853px 4.7346px;
  width: 200px;
  height: 28.42px;
  font-size: 0.825rem;
  line-height: 15px;
  margin-left: -10%;
}
  .choose > label {
    /* margin-bottom: -5px; */
    margin-top: -10%;
    margin-left: -20%;
    margin-bottom: 4%;
}

.ms-2 {
  /* margin-left: -300px; */
  /* margin-top: -60px; */
  padding-right: 10px;
  position: absolute;
  /* width: 200px; */
}
 


.star-icon {
  margin-right: 20px;
  /* margin-top: 40px !important; */
  position: absolute;
  /* left: 130%; */
  margin-top: -150%;
}

.share-btn {
  margin-top: -15px;
  /* margin-right: 10px !important; */
  /* font-size: 0rem !important; */
  padding: 1px;
  position: absolute;
  /* left: 150%; */
  left: 15%;
}


.btn-2 {
  position: absolute;
  font-size: 1.4rem;
  top: 82%;
  right: 3% !important;
}

  .container {
    margin: 0;
  }



.flex-filter {
    top: 25px;
    right: -55%;
    position: relative;
    margin-top: 0px;
    width: 140%;
    display: flex;
    justify-content: start;
}


  
.filter-heading {
  font-size: 0.8rem;
  line-height: 9px;
  margin-top: 35px;
  margin-left: 61px;
}

.filterarrow {
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 25px;
}

  .total-story {
    margin-top: 25px;
    font-size: 0.85rem;
    line-height: 14px;
    margin-left: -15px;
  }

  .item-section::after {
    width: 0;
    border: none;
    content: initial;
  }

  .item-section-main {
    width: 100%;
    height: initial;
  }

  .item-category > h3 {
    padding: 6.13636px;
    border: 0.613636px solid #000000;
    font-size: 0.5rem;
    line-height: 10px;
  }

  .item-category > p {
    padding: 5.88235px;
    font-size: 0.4375rem;
    line-height: 8px;
  }

  .item-section {
    margin-bottom: 1rem;
    background: #ffffff;
    padding: 0 10px;
    border: 1px solid #000000;
    box-shadow: 1px 1px 0px #000000;
    align-items: center;
    justify-content: flex-start;
    width: 230px;
    height: 300px;
    position: absolute;
    margin-left: -30%;
}
  .left-arrow {
    font-size: 1.4rem;
    cursor: pointer;
    align-self: flex-start;
  }

  .item-section > h2 {
    margin: 0;
    width: 150px;
    font-size: 1.125rem;
    line-height: 18px;
    text-align: center;
  }

  .show-para > p {
    overflow-y: auto;
    margin-top: 1rem;
    width: 162px;
    font-size: 0.75rem;
    line-height: 14px;
    text-align: center;
    align-self: center;
    height: 180px;
  }

  .read-more {
    cursor: pointer;
    margin-top: 10px;
    font-size: 0.625rem;
    text-align: center;
    line-height: 20px;
    align-self: flex-start;
  }

  .container-fluid {
    margin-top: 5px !important;
} 

  /*  */
}

@media screen and (min-width: 300px) and (max-width: 369px) {

  .swiper-container {
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: -10px;
    padding: 10px;
    height: 350px;
  }

  

  .popup-card {
    background-color: white;
    padding: 4px;
    padding-top: 0px;
    /* padding-top: 20px;
    padding-bottom: 25px; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    padding-inline: 40px;
    flex-direction: column;
    width: 90%;
    height: 100px;
  }

  .pop-head{
    font-size: 1rem !important;
   
}
  
.copy-btn {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  position: relative;
  top: 15% !important;
  right: -5% !important;
}
  
  
  
  .popup-link {
    margin-top: 5px;
   width: 120%;
    margin-bottom: 20px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
  }

  .popup-link{
    margin-top: -30% !important;
    line-height: 1 !important;
    width: 250px;
    padding-top: 10%;
}
  
.popup-link > a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  font-size: 0.7rem !important;
  top: 0% !important;
  left: 5% !important;
}

  .item-section-container::after {
    margin-bottom: 0 !important;
  }

  .filter {
    margin-top: -25px !important;
}
  body {
    overflow-y: auto;
  }
  .story-header {
    margin-top: 7px;
    font-size: 1.625rem;
    line-height: 30px;
  }

  .navbar {
    margin-top: 1.96005rem;
  }

  .nav-header > h4 {
    text-transform: lowercase;
    margin: 9px 0;
    font-family: var(--ff-gilroy);
    font-size: 0.75rem;
    line-height: 14px;
  }

  .nav-header::before {
    right: 150px;
  }
  .nav-header::after {
    left: 150px;
  }

  .popular > h1 {
    font-size: 0.825rem;
    line-height: 12px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bold;
  }

  .list {
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    width: 100%;
    padding: 0 5px;
  }

  .list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .list-items {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
  }

  .list-items > li {
    padding: 6.06707px 12.1341px;
    white-space: nowrap;
    margin: 0;
    font-size: 0.418rem;
    line-height: 8px;
  }

  .story-section {
    flex-direction: column;
  }

  .section-1 {
    position: relative;
    margin-left: 10%;
    margin-top: 8%;
  }

  .section-1-head {
    gap: 0rem;
    justify-content: space-around;
    width: 220px;
    display: inline-flex;
    position: relative;
    margin-top: 0px;
    margin-right: -50px;
    left: 4%;
    padding-right: 0%;
    z-index: 1;
  }

  .section-1::before {
    margin-top: 10px;
    align-self: self-start;
    position: relative;
    content: "";
    left: 10px;
    top: 25px;
    width: 150%;
    height: 1px;
    background-color: #000000;
}


  .section-1-head > h1 {
    position: relative;
    font-size: 1.575rem;
    font-weight: normal;
    line-height: 0px;
    margin: 0;
    margin-top: 30px;
    width: 150%;
  }

  
  .section-2-head > h1 {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 25px;
    margin: 0;
    margin-top: 30px;
    left: -15px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}





.section-2-head > h1> span {
  display: inline;
  position: absolute;
  left: 100%;
  width: 250px;
}



.section-2-head > h1 > div{
  height: 1.1px !important;
  width: 155% !important;
  background: rgb(107, 80, 39);
}

  .section-1-head > h1::after,
  .section-2-head > h1::after {
    position: absolute;
    margin-top: -4px;
    right: 70px;
    width: 116px;
  }

  

  .pen {
    display: flex;
    font-size: 1.6rem;
    margin-right: -10%;
}

  .section-1-content {
    padding: 0 1rem;
    width: 50%;
    margin-top: 20px;
    padding-left: 0;
    margin-left: -40px;
  }

  label > h3 {
    font-size: 0.875rem;
    line-height: 16px;
  }

  .subject > input,
  textarea {
    margin-bottom: 20px;
    line-height: 14px;
    padding: 0 10px;
    width: 300px !important;
    height: 30px;
    font-size: 0.75rem;
  }

  .subject {
    margin-top: 24px;
  }

  textarea {
    padding-top: 5px;
    height: 65px;
  }

  .select-btn,
  .content {
    width: 300px;
  }

  .content {
    padding: 10px;
    padding-bottom: 0;
    z-index: 99999;
    left: -40%;
    top: 90%;
}

 

  .select-btn {
    height: 29.1px;
    padding: 7px 9px;
  }
  .down {
    font-size: 1rem;
    transform: rotate(0deg);

  }

  .select-btn > span {
    font-size: 0.75rem;
  }

  .select-btn,
  .selectCategory,
  .content,
  .search {
    width: 300px !important;
  }

  .search > input {
    padding: 5px;
    padding-left: 40px;
    width: 280px !important;
  }

  .search-btn {
    left: 8px;
    top: 6.5px;
    font-size: 1.4rem;
  }

  .search-list {
    margin-top: 15px;
    gap: 12px;
    width: 260px;
  }

 


.search-list-2 {
  /* margin-top: -18%; */
  width: 200px;
  gap: 2px;
  /* margin-left: 20%; */
  height: 100px;
  margin-top: -60%;
  margin-left: 0%;
}


  .search-list > li {
    font-size: 0.75rem;
  }

  /* .section-1-content {
    width: 332px;
  } */

  .submit-btn {
    margin-top: 20px;
    margin-bottom: -15px;
    width: 140px;
    padding: 7.35981px;
    font-size: 0.6875rem;
    line-height: 13px;
    height: 29.44px;
    margin-right: 160px;
  }

  .middle-line {
    margin-top: 1.8rem;
    align-self: center;
    height: 1.2px;
    width: 110vw;
    background-color: #000000;
    border: none;
    margin-bottom: 10px;
  }

  .section-2-head {
    border: none;
    flex-direction: column;
  }

  .section-2-head > h1 {
    margin-top: 20% !important;
    /* display: inline-flex; */
    padding-left: -0% !important;
}

  .section-1-head > h1 {
    margin-top: 0 !important;
    /* display: inline-flex; */
    padding-left: -0% !important;
  }

  .section-1::before {
    margin-top: 0 !important;
    /* display: inline-flex; */
  }

 

  .section-2-head > h1::after {
    right: 10px !important;
    top: 32px;
    height: 1.2px !important;
    width: 120px !important;
}

.choose > label > h3 {
  font-size: 0.9rem !important;
  line-height: 15px;
  margin-left: -29px;
  margin-bottom: 0px;
  width: auto;
}

  

 
.choose {
  margin-top: 0;
  /* margin-right: -35px !important; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  right: 0%;
  /* top: -10% !important; */
  margin-top: -110px;
}

 
  .choose > input {
    margin-bottom: 0;
    position: relative;
    border: 0.7891px solid #000000;
    border-radius: 1.05213px;
    padding: 4.20853px 4.7346px;
    width: 200px;
    height: 28.42px;
    font-size: 0.825rem;
    line-height: 12px;
}

  .ms-2 {
    /* margin-left: -300px; */
    /* margin-top: -60px; */
    padding-right: 10px;
    position: absolute;
    /* width: 200px; */
}
 

 
.star-icon {
  margin-right: 20px;
  /* margin-top: 40px !important; */
  position: absolute;
  /* left: 130%; */
  margin-top: -40px;
}

.share-btn {
  margin-top: -40px;
  /* margin-right: 10px !important; */
  /* font-size: 0rem !important; */
  padding: 1px;
  position: absolute;
  /* left: 150%; */
  left: 15%;
}
.btn-2 {
  position: absolute;
  font-size: 1.4rem;
  top: 105%;
  right: -1% !important;
}
  .container {
    margin: 0;
  }

  .flex-filter {
    top: 40px;
    right: -45%;
    position: relative;
    margin-top: 0px;
    width: 140%;
    display: flex;
    justify-content: start;
}



 

  .filter-heading {
    font-size: 0.8rem;
    line-height: 9px;
    margin-top: 25px;
    margin-left: 61px;
}

.filterarrow {
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 15px;
}

  .total-story {
    margin-top: 25px;
    font-size: 0.85rem;
    line-height: 14px;
    margin-left: -15px;
  }

  .item-section::after {
    width: 0;
    border: none;
    content: initial;
  }

  .item-section-main {
    width: 100%;
    height: initial;
  }

  .item-category > h3 {
    padding: 6.13636px;
    border: 0.613636px solid #000000;
    font-size: 0.5rem;
    line-height: 10px;
  }

  .item-category > p {
    padding: 5.88235px;
    font-size: 0.4375rem;
    line-height: 8px;
  }

  .item-section {
    margin-bottom: 1rem;
    background: #ffffff;
    padding: 0 10px;
    border: 1px solid #000000;
    box-shadow: 1px 1px 0px #000000;
    align-items: center;
    justify-content: flex-start;
    width: 230px;
    height: 300px;
    margin-left: -60%;
}

  .left-arrow {
    font-size: 1.4rem;
    cursor: pointer;
    align-self: flex-start;
  }

  .item-section > h2 {
    margin: 0;
    width: 150px;
    font-size: 1.125rem;
    line-height: 18px;
    text-align: center;
  }

  .show-para > p {
    overflow-y: auto;
    margin-top: 1rem;
    width: 162px;
    font-size: 0.75rem;
    line-height: 14px;
    text-align: center;
    align-self: center;
    height: 180px;
  }

  .read-more {
    cursor: pointer;
    margin-top: 10px;
    font-size: 0.625rem;
    text-align: center;
    line-height: 20px;
    align-self: flex-start;
  }


  .looking {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    left: 20%;
    width: auto;
    height: auto;
    font-size: 0.3rem;
    top: -5% !important;
    margin-top: 0%;
    line-height: 7rem;
}

 
  /*  */
}



@media screen and (min-width: 1408px) and (max-width: 1696px) {
  .story-section {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 80%;
    padding: 0 24px;
    margin-bottom: 0;
    justify-content: start;
  }

  .popular {
    margin-left: 8%;
}

  .list-items > li{
    line-height: 8px;
  }

  .section-1 {
    justify-content: flex-start;
    width: 35%;
    /* margin-right: 0; */
    margin-left: -13%;
    margin-top: 7%;
    font-size: 1rem;
  }
  .container-fluid {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }

  .item-section-main {
    width: 90%;
  }

  .middle-line {
    margin-left: -5.5%;
    margin-top: -55px;
}

  .section-1-head > h1 {
    width: 100%;
    margin-top: 0%;
    font-family: var(--ff-lancelot);
    font-style: normal;
    font-weight: 200;
    font-size: 2.1rem;
    line-height: 50px;
    color: #000000;
    display: inline;
}

  .section-1-head > h1::after {
    width: 100%;
    margin-right: -40%;
    margin-top: -2% !important;
  }

  .section-2-head > h1::after {
    margin-right: 12rem;
    width: 200px;
    height: 1.8px !important;
  }

  .subject > input,
  textarea {
    width: 350px;

    line-height: 15px;
  }

  .select-btn {
    width: 350px;
  }

  .content {
    width: 350px;
  }
  .search > input {
    width: 325px;
  }


  .section-2-head{
    margin-top: -5%;
  }

  .section-2-head > h1 {
    width: auto;
    margin-top: 0.6%;
    margin-left: 7%;
    font-family: var(--ff-lancelot);
    font-style: normal;
    font-weight: 200;
    font-size: 2.3rem;
    /* line-height: 45px; */
    color: #000000;
    display: inline;
}
.looking {
  
  margin-left: 7%;
}

.choose{
  margin-left: -15%;
}

label > h3 {
  font-size: 1.3rem;
  line-height: 2px;
  font-family: var(--ff-gilroy);
  margin-top: 10%;
  font-weight: 300;
}

.choose > input{
  width: 350px;
  line-height: 0;
  height: 40px;
}



.search-list-2 {
  width: 350px;
  margin-left: -53px;
  gap: 10px;
  z-index: 11;
}




.item-section{

  width:88%
}

.show-para > p {
  max-height: 100%;
  overflow-y: auto;
  margin: 0;
  width: 750px;
  position: relative;
  display: inline;
}

.item-section > h2 {
  margin: 0;
  width: 850px;
  font-family: var(--ff-lancelot);
  font-weight: 300 !important;
  font-size: 2.5125rem;
  line-height: 65px;
  color: #000000;
  margin-top: -15px;
}

.item-section::after {
  content: "";
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 30px;
}


}

@media screen and (min-width: 455px) and (max-width: 768px) {
  .looking {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: -80px;
  }

  .choose > input {
    width: 95% !important;
    font-size: 1rem;
    padding: 2%;
    text-transform: capitalize;
    padding-right: 0%;
  }

  .section-1-head {
    z-index: -1;
    margin-top: -55px;
}
.section-1-head > h1::after {
  width: 15rem !important;
  margin-right: 2rem !important;
  margin-top: -5px !important;
}

  .section-1-head > h1, .section-2-head > h1 {
    /* margin-top: 0; */
    width: 300px;
    font-size: 1.5rem;
    margin-top: 48px !important;
}

  .select-btn,
  .selectCategory,
  .content,
  .search {
    width: 270px !important;
  }

 

  .btn-2 {
    cursor: pointer;
    font-size: 2rem;
    align-self: center;
    margin-top: 9%;
    margin-left: 85%;
    /* margin-right: 0.5rem; */
    position: absolute;
    justify-content: end;
    top: 1.5%;
    left: 145%;
}

  .navbar {
    margin-top: 10px;
  }

  .search-list {
    width: 120% !important;
    gap: 5px;
    margin-left: -10%;
    margin-top: 3%;
  }

  .flex-filter {
    display: flex;
    align-items: center;
    margin-left: -37%;
    margin-top: -13%;
    font-size: 1em;
  }
  .total-story {
    font-family: var(--ff-gilroy);
    font-size: 1.25rem;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 500;
    margin-top: -2%;
  }

  .search-list-2 {
    max-height: 150px;
    z-index: 9999;
    padding: 2%;
    width: 110%;
    gap: 5px;
    top:5rem;
  }

  .navbar {
    background-color: #f9f7f7;
    padding: 0% !important;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .subject > input,
  textarea {
    margin-top: 5px !important;
    width: 270px !important;
    margin-bottom: 15px;
  }

  .subject > input,
  textarea,
  .choose > input {
    font-family: var(--ff-gilroy);
    margin-top: 10px;
    margin-bottom: 25px;
    width: 422px;
    background: hwb(0 98% 1%);
    border: 1.5px solid #000000;
    border-radius: 2px;
    outline: none;
    padding: 5px 16px;
    font-size: 1.25em;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.75);
  }

  .subject,
  .description,
  .selectCategory,
  .choose {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin-top: -2%;
  }

  .section-2-head > h1 {
    /* margin-top: 3% !important; */
    width: 300px;
    font-size: 1.5rem;
    margin-top: 13px !important;
    line-height: 2rem;
}
  .choose {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin-top: -2%;
    margin-left: -10%;
  }

  textarea {
    height: 70px;
    padding: 12px 15px;
    resize: none;
  }

  .submit-btn {
    cursor: pointer;
    margin-top: 56px;
    padding: 1px;
    width: 70%;
    height: 40px;
    background: #6b5023;
    outline: none;
    border: none;
    margin-top: 20px;
    margin-left: 0;
    font-family: var(--ff-lato);
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 22px;
    text-align: center;
    color: #fffefb;
    align-self: center;
  }

  .search > input {
    width: 90% !important;
    height: 40px;
  }
  .search-btn {
    position: absolute;
    left: 18px;
    top: 12px;
    font-size: 1.4rem;
  }

  .content {
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.08);
    border-radius: 2px;
    margin-top: 10px;
    width: 422px;
    padding: 16px;
    height: 210px !important;
    position: absolute;
    left: 320px;
    top: 330px;
    z-index: 999;
  }

  .search-list {
    width: 130% !important;
    gap: 5px;
    margin-left: -13%;
    margin-top: 13%;
}

  .down {
    font-size: 1.5rem;
    transform: rotate(270deg);
  }

  .subject > input,
  textarea,
  .choose > input {
    font-family: var(--ff-gilroy);
    margin-top: 10px;
    margin-bottom: 25px;
    width: 422px;
    background: hwb(0 98% 1%);
    border: 1.5px solid #000000;
    border-radius: 2px;
    outline: none;
    padding: 5px 16px;
    font-size: 1em;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.75);
  }

  .section-1 {
    justify-content: flex-start;
    width: 39%;
    margin-right: 0;
    margin-top: 9px;
  }

  label > h3 {
    font-size: 1rem !important;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    line-height: 15px;
}

.item-section {
  width: 420px;
}

.show-para > p {
  width: 408px;
  font-size: 1.125rem;
  line-height: 25px;
}
}

@media screen and (width: 1440px) {
  .middle-line{
    margin-left: -3.5% !important;
  
  }
  
}

@media screen and (width= 375px) {

  .item-section {
      
      margin-left: -45% !important;
  }
  }

/* Example CSS for centering the card */
.share-popup {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: flex;
	justify-content: center; */
  align-items: center;
  z-index: 999;
  /* animation: slideIn 0.5s ease-in-out forwards; */

  /* Additional styling and properties */
}

.share-popup > .popup-header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #f9f7f7;
  border-bottom: 1px solid #000000;
}

@keyframes slideIn {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(-100px);
  }
}

.popup-card {
  background-color: white;
  padding: 4px;
  padding-top: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;
  padding-inline: 70px;
  flex-direction: column;
  height: 150px;
}

.pop-head {
  margin-top: -5% !important;
}

.copy-btn {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  position: relative;
  top: -15%;
}

.popup-card > .close-button {
  /* margin-top: 10px; */
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0 2px;
  background-color: rgb(247, 53, 53);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.popup-link {
  margin-top: -10%;
  margin-bottom: 20px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  height: 40%;
}

.popup-link > a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-top: -21% !important;
  position: relative;
  top: -30%;
}

.section-3 {
  display: block;
  position: fixed;
  top: 135px;
  right: 6px;
  height: 100vh;
  width: 330px;
}

@media screen and (max-width: 1438px) {
  .section-3 {
    display: none;
  }
}


@media screen and (min-width: 1697px) {
  .middle-line {
    margin-top: -60px;
}
}


